@import "./src/assets/css/basic/basic";

.sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  label {
    color: $main-color;
    font-weight: bold;
  }

  input {
    color: $main-color;
  }

}

