@import "./src/assets/css/basic/basic";

.sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  label {
    color: $main-color;
    font-weight: bold;
  }

  input {
    color: $main-color;
  }

  ::placeholder { /* CSS 3 標準 */
    color: $not-validated-color;
    font-size: small;
  }

  ::-webkit-input-placeholder { /* Chrome, Safari */
    color: $not-validated-color;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: $not-validated-color;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: $not-validated-color;
    opacity: 1;
  }

}

