$main-color: #646566;
$white-color: #FFFFFF;
$not-validated-color: #FF0000;
$disabled-color: #E0E0E0;

@mixin centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.under-construction {
  width: 100vw;
  height: 100vh;
}

.wrap {
  @include centralize;
}

.picker {
  width: 50vw;
}

.submit {
  position: absolute !important;
  bottom: 0;
  right: 0;
}

.submit-button {
  background-color: $main-color !important;
  color: $white-color !important;
  border-radius: 5px !important;
}

.modal-button {
  background-color: $main-color;
  color: $white-color;
  border: none;
  border-radius: 5px;
  font-size: small;
  padding: 10px 15px 10px 15px;
}

.modal-button:disabled {
  background-color: $disabled-color;
}

//pagination
.nav-pagination {
  @include centralize;
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 50%;

  .previous-pages {
    display: flex;
    flex-direction: row-reverse;
  }

  .next-pages {
    display: flex;
    flex-direction: row;
  }

  .page-item {
    &.active {
      .page-link {
        background-color: $main-color !important;
        border-color: $main-color !important;
        color: $white-color !important;
      }
    }

    .page-link {
      color: $main-color !important;
    }
  }

  .pagination {
    a {
      &:hover {
        background-color: $main-color !important;
        border-color: $main-color !important;
        color: white !important;
      }
    }
  }
}
