$main-color: #646566;
$sub-color: #E0E0E0;
$white-color: #FFFFFF;
$black-color: #000000;
$not-validated-color: #FF0000;
$button-color: #46A3FF;
$disabled-color: #C4E1FF;

$pad-size: 820px;
$phone-size: 414px;


@mixin centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin form {
  background-color: transparent;
  border: $main-color 1px solid;
  border-radius: 5px;
  box-shadow: 3px 3px 12px $main-color;
  margin: 10% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .column {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    padding: 0 0 0 10px;
    width: 100%;

    .input {
      .input-label {
        width: 10em;
      }

      .radio-label {
        color: $main-color;
        margin: 0 5px 0 5px;
      }
    }
  }

  .button-group {
    button {
      margin: 10px;
    }
  }
}


.wrap {
  background: rgba(255, 255, 255, 0.8) url('https://i.imgur.com/mhuHPIG.png') no-repeat fixed center;
  background-size: cover;
  background-blend-mode: lighten;
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 100%;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
}

.under-construction {
  width: 100vw;
  height: 100vh;
}

.picker {
  width: 50vw;
}

.submit {
  position: absolute !important;
  bottom: 0;
  right: 0;
}

.submit-button {
  background-color: $main-color !important;
  color: $white-color !important;
  border-radius: 5px !important;
}

.default-button {
  background-color: $button-color;
  color: $white-color;
  border: none;
  border-radius: 5px;
  font-size: small;
  font-weight: bold;
  padding: 10px 15px 10px 15px;

  @media (max-width: $phone-size) {
    font-size: smaller;
  }

  &:disabled {
    background-color: $disabled-color;
  }
}

.create-button {
  background-color: $button-color;
  color: $white-color !important;
  border: none;
  width: 2em;
  height: 2em;

  &:disabled {
    background-color: $disabled-color;
  }
}

// offcanvas
.offcanvas-bar {
  width: 100%;
  background-color: $sub-color;
  padding: 5px;

  .offcanvas-button {
    display: none;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    @media (max-width: $phone-size) {
      display: block;
    }
  }
}


.offcanvas {
  display: none;
  width: 50vw;
  @media (max-width: $phone-size) {
    display: block;
  }

  .offcanvas-header {
    background-color: $sub-color;
    height: 40px;

    .offcanvas-button {
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;
      @media (max-width: $phone-size) {
        display: block;
      }
    }
  }

  .offcanvas-body {
    ul {
      li {
        color: $main-color;
        font-weight: bold;
        margin: 0 0 5px 0;
      }
    }
  }
}

// tab
.van-tabs {
  @media (max-width: $phone-size) {
    display: none;
  }

  .van-tabs__nav {
    background: $disabled-color !important;

    .van-tab__text {
      color: $main-color;
    }

    .van-tabs__line {
      background-color: $button-color !important;
      transform: translateX(1764px) translateX(-50%);
    }
  }
}


//pagination
.nav-pagination {
  @include centralize;
  @media (max-width: $phone-size) {
    display: none;
  }

  .previous-pages {
    display: flex;
    flex-direction: row-reverse;
  }

  .next-pages {
    display: flex;
    flex-direction: row;
  }

  .page-item {
    &.active {
      .page-link {
        background-color: $main-color !important;
        border-color: $main-color !important;
        color: $white-color !important;
      }
    }

    .page-link {
      color: $main-color !important;
    }
  }

  .pagination {
    a {
      &:hover {
        background-color: $main-color !important;
        border-color: $main-color !important;
        color: white !important;
      }
    }
  }
}

.overlay {
  @include centralize;
  width: 100%;
  height: 100%;
}

.validate-label {
  color: $not-validated-color;
  margin: 0 0 0 3px;
}

.selector-label, .input-label {
  margin: 0 3px 0 0;
  font-weight: bold;
  width: 5em;
}

label, select {
  @media (max-width: $phone-size) {
    font-size: small;
  }
}

ul, li, h6, label {
  color: $main-color;
}

input {
  background-color: $white-color;
  border: $main-color 1px solid;
  color: $main-color !important;
  border-radius: 5px;
  @media (max-width: $phone-size) {
    font-size: smaller !important;
  }
}

.modal-content {
  @media (max-width: $pad-size) {
    width: 70vw !important;
  }
}
