@import "./src/assets/css/basic/basic";

.wrap {
  .container {
    .sign-in-form, .sign-up-form {
      @include form;

      .column {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
        padding: 0 0 0 10px;
        width: 100%;

        .input {
          .input-label {
            width: 10em;
          }

          .radio-label {
            color: $main-color;
            margin: 0 5px 0 5px;
          }
        }
      }

      .button-group {
        button {
          margin: 10px;
        }
      }
    }
  }
}
