@import "./src/assets/css/basic/basic";

.wrap {
  .container {
    .car-form {
      @include form;

      select {
        background-color: $white-color;
        color: $main-color;
        border-radius: 5px;
      }

      .field {
        .car-selector {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          margin: 30% 0 0 0;

          .create {
            display: flex;
            justify-content: flex-end;
            margin: 0 0 0 10px;
          }
        }

        .car-info {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 0 0 0 0;

          .selector-label {
            width: 10em;
          }

          .selector {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 10px 0 0 0;
          }

        }
      }

      .button-group {
        @include centralize;
        position: absolute;
        bottom: 10px;

        .create-button {
          margin: 10px;
        }
      }
    }
  }
}
