@import "./src/assets/css/basic/basic";

.wrap {
  .profile-form {
    background-color: $sub-color;
    border: $main-color 1px solid;
    box-shadow: 3px 3px 12px $main-color;
    border-radius: 5px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 0 0;
    padding: 20px;

    .column {
      margin: 10px;

      .input-label {
        width: 10em;
      }
    }
  }
}
