@import "./src/assets/css/basic/basic";

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  .toolbar {
    display: flex;
    width: 80vw;
    position: relative;
    margin: 10px 0 10px 0;

    .selector-group {
      margin: 10px 0 10px 0;
      display: flex;
      align-items: center;

      .selector {
        margin: 0 10px 0 0;
        label {
          color: $main-color;
          font-weight: bold;
        }
        select {
          background-color: $white-color;
          color: $main-color;
          border-radius: 5px;
        }
      }
    }
    .button-group {
      position: absolute;
      right: 0;
      button {
        margin: 0 10px 0 0;
      }
    }
  }

  .trip {
    margin: 0 0 10px 0;
    width: 80vw;
    height: 100%;
    .table {
      text-align: center;
      color: $main-color;
    }
  }
}

