@import "./src/assets/css/basic/basic";

.trip-form {
  width: 25%;
  height: 70vh;
  border: $main-color 1px solid;
  margin: 10px;
  position: relative;
}

.trip-list {
  width: 40%;
  height: 70vh;
  position: relative;

  .trip-table {
    table-layout: auto;
    width: 100%;
    height: 80%;
    margin: 0 0 0 10px;
    text-align: center;
  }
}

