@import "./src/assets/css/basic/basic";

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  .toolbar {
    display: flex;
    width: 80vw;
    position: relative;
    margin: 10px 0 10px 0;

    .selector-group {
      margin: 10px 0 10px 0;
      display: flex;
      align-items: center;

      .selector {
        margin: 0 10px 0 0;
        .selector-label {
          color: $main-color;
          margin: 0 5px 0 0;
          width: 5em;
          font-weight: bold;
        }
        select {
          background-color: $white-color;
          color: $main-color;
          border-radius: 5px;
        }
      }
    }
    .button-group {
      position: absolute;
      right: 0;
      .default-button {
        margin: 0 10px 0 0;
      }
    }
  }

  .trip {
    background: rgba(255, 255, 255, 0.8) url('https://i.imgur.com/XR6jF7C.png') no-repeat;
    background-blend-mode: lighten;
    background-size: 100%;
    margin: 0 0 10px 0;
    width: 90vw;
    height: 80%;
    .table {
      text-align: center;
      color: $main-color;
    }
  }
}

